In [3]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [4]:
!pip install pyECLAT

Requirement already satisfied: pyECLAT in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: tqdm>=4.41.1 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (4.64.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (1.3.5)
Requirement already satisfied: numpy>=1.17.4 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pyECLAT) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pyECLAT) (1.15.0)

In [5]:
!pip install pyfpgrowth

Requirement already satisfied: pyfpgrowth in /usr/local/lib/python3.7/dist-packages (1.0)

In [6]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
dataset = pd.read_csv('/groceries - groceries.csv', header = 0)
Data=dataset.drop("Item(s)", axis=1)
rows = len(Data.axes[0])
cols = len(Data.axes[1])
Data.columns = range(Data.shape[1])
Data

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,whipped/sour cream,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9831,cooking chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9832,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,cling film/bags,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9833,semi-finished bread,bottled water,soda,bottled beer,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9834,chicken,tropical fruit,other vegetables,vinegar,shopping bags,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Intializing the list
transacts = []
# populating a list of transactions
for i in range(0, rows): 
  transacts.append([str(Data.values[i,j]) for j in range(0, cols)])

In [9]:
from apyori import apriori
ap = apriori(transactions = transacts, min_support = 0.2, min_length = 2, max_length = 2, use_colnames=True) # generate rules

# list of results coming from the apriori model
rslt = list(ap)

rslt

[RelationRecord(items=frozenset({'nan'}), support=0.9998983223182512, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=0.9998983223182512, lift=1.0)]),
 RelationRecord(items=frozenset({'whole milk'}), support=0.25551601423487547, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'whole milk'}), confidence=0.25551601423487547, lift=1.0)]),
 RelationRecord(items=frozenset({'whole milk', 'nan'}), support=0.25541433655312656, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'whole milk', 'nan'}), confidence=0.25541433655312656, lift=1.0), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'whole milk'}), confidence=0.2554403091315843, lift=0.9997037167963116), OrderedStatistic(items_base=frozenset({'whole milk'}), items_add=frozenset({'nan'}), confidence=0.9996020692399521, lift=0.9997037167963116)])]

In [10]:
%timeit -n 100 -r 10 ap

100 loops, best of 10: 50.4 ns per loop

In [11]:
from pyECLAT import ECLAT

# loading transactions DataFrame to ECLAT class
eclat = ECLAT(data=Data)

# DataFrame of binary values
eclat.df_bin

,soups,candy,dish cleaner,chocolate,cream,zwieback,chicken,semi-finished bread,cream cheese,yogurt,...,detergent,whipped/sour cream,cooking chocolate,pastry,make up remover,hard cheese,liquor,specialty bar,baking powder,napkins
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,0,0,0,1,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
9831,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9832,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9833,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9834,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
items_total = eclat.df_bin.astype(int).sum(axis=0)

items_total

soups             67
candy            294
dish cleaner     103
chocolate        488
cream             13
                ...
hard cheese      241
liquor           109
specialty bar    269
baking powder    174
napkins          515
Length: 169, dtype: int64

In [13]:
# count items in each row
items_per_transaction = eclat.df_bin.astype(int).sum(axis=1)

items_per_transaction

0        4
1        3
2        1
3        4
4        4
        ..
9830    17
9831     1
9832    10
9833     4
9834     5
Length: 9835, dtype: int64

In [14]:
df = pd.DataFrame({'items': items_total.index, 'transactions': items_total.values}) 

# cloning pandas DataFrame for visualization purpose  
df_table = df.sort_values("transactions", ascending=False)

#  Top 5 most popular products/items
df_table.head(5)

                items  transactions
142        whole milk          2513
55   other vegetables          1903
127        rolls/buns          1809
80               soda          1715
9              yogurt          1372

In [15]:
eclat_indices, eclat_supports = eclat.fit(min_support=0.2)

Combination 1 by 1

1it [00:00, 20.41it/s]

Combination 2 by 2

0it [00:00, ?it/s]

Combination 3 by 3

0it [00:00, ?it/s]

In [16]:
print(eclat_supports)

{'whole milk': 0.25551601423487547}

In [17]:
%timeit -n 100 -r 10 eclat_supports

The slowest run took 949.81 times longer than the fastest. This could mean that an intermediate result is being cached.
100 loops, best of 10: 42.6 ns per loop

In [18]:
import pyfpgrowth

In [19]:
patterns = pyfpgrowth.find_frequent_patterns(transacts, 2)

In [21]:
%timeit -n 100 -r 10 patterns

100 loops, best of 10: 58.2 ns per loop